.barber-index {
    position: relative;
    top: 80px;
    

    & .index-header {
        background-image: url("https://gcdnb.pbrd.co/images/kn97Ru3XjLIz.jpg");
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        height: calc(100vh - 80px);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;

        @media (max-width: 768px) {
            height: calc(85vh - 80px);
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgb(0 0 0 / 90%);
            z-index: -1;
        }

        & .index-header-content {


            & .index-header-txt {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                height: 100%;
                font-size: 1.5rem;
            }

            & .index-header-img {
                grid-area: img;
                display: flex;
                justify-content: center;
                align-items: center;

                & img {
                    object-fit: cover;
                    width: 70%;
                    box-shadow: 0px 0px 10px 2px rgb(169 163 151);
                    border-radius: 50%;
                }
            }
        }
    }

    & .index-about {
        padding: 50px 20vw;
        text-align: center;

        @media (max-width: 768px) {
            padding: 0 4vw;
            margin-top: 80px;
        }

        & .index-about-imgs {
            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-top: 20px;
            }
        }
    }

    & .index-body {

        & .barbers-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 20px;
            padding: 20px 0;

            .barber-card {
                width: fit-content;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;

                &::before {
                    width: 50px;
                    height: 50px;
                    content: "";
                    position: absolute;
                    background-color: rgb(255, 235, 144);
                    z-index: -1;
                    border-radius: 50%;
                    left: 120px;
                    top: 50px;
                    transition: all 1s;
                }

                &:hover::before {
                    transform: translate(-50px, 50px);
                    width: 100px;
                    height: 100px;
                }



                & .card {
                    position: relative;
                    width: 220px;
                    height: 250px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    padding: 20px 10px;
                    border-radius: 10px;
                    backdrop-filter: blur(30px);
                    background-color: rgba(65, 65, 65, 0.308);
                    border: 1px solid rgba(255, 255, 255, 0.089);
                    cursor: pointer;

                    & .card-img {
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        overflow: hidden;
                        border: 1px solid rgba(255, 255, 255, 0.089);
                        box-shadow: 0px 0px 3px 1px rgb(130 130 130);

                        & img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    & .card-btn {
                        button {
                            font-family: Rubik;
                            background-color: transparent;
                            color: white;
                            border: 1px solid white;
                            padding: 5px 10px;
                            border-radius: 5px;
                            font-size: 0.8rem;
                            cursor: pointer;
                            transition: all 0.3s;
                            margin: 0;

                            &:hover {
                                background-color: #fff;
                                color: #000;
                                transform: scale(1.05);
                            }
                        }
                    }
                }
            }
        }
    }

    & .index-location {

        & .location-map {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;

            iframe {
                border: none;
                border-radius: 10px;
                box-shadow: 0px 0px 10px 1px rgb(169, 163, 151);
            }

            & .location-map-content {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 10px;

                // design button in here as 'navigate with waze' button (using waze colors)
                    button {
                        font-family: Rubik;
                        background-color: transparent;
                        color: white;
                        border: 1px solid white;
                        padding: 5px 10px;
                        border-radius: 5px;
                        font-size: 0.8rem;
                        cursor: pointer;
                        transition: all 0.3s;
                        margin: 0;

                        &:hover {
                            background-color: #fff;
                            color: #000;
                            transform: scale(1.05);
                        }
                    }
            }
        }
    }

    & .index-contact {
        & .index-contact-content {
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding-bottom: 50px;

            & .contact-links {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 60px;
                font-family: Rubik;
                font-size: 1.2rem;
                
                // mobile
                @media (max-width: 768px) {
                    gap: 20px;

                    p {
                        font-size: 0.8rem;
                    }
                }

                & .contact-link {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 10px;
                    font-family: cereal;
                    transition: all 0.3s;

                    svg {
                        width: 30px;
                        height: 30px;
                        fill: #fff;
                        cursor: pointer;

                        // mobile
                        @media (max-width: 768px) {
                            width: 20px;
                            height: 20px;
                        }


                    }
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

        }
    }
}

// cARD DESIGN 
.barber-card:hover::before {
    transform: translate(-50px, 50px);
}

// Styled Divider
.content-style {
    padding: 50px 10vw;

    // mobile 
    @media (max-width: 768px) {
        padding: 20px 10vw;
        margin-top: 20px;
    }

    h1 {

        text-align: center;
        font-size: 30px;
        font-weight: 300;
        color: #222;
        letter-spacing: 1px;
        text-transform: uppercase;
        // padding: 10px 0;

        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        // grid-template-rows: 27px 0;
        grid-gap: 20px;
        align-items: center;
        color: #fff;
    }

    h1:after,
    h1:before {
        content: " ";
        display: block;
        border-bottom: 1px solid #ffffff80;
        border-top: 1px solid #ffffff80;
        height: 5px;
    }
}

.upload-widget__image-editor img {
    object-fit: cover;
    width: 100px;
    height: 100px;
}