.header-container {
  position: fixed;
  top: 0;
  width: 100%;
  // background-color: $header-background;
  background-color: #0000009c;
  color: $header-text;
  // box-shadow: $header-shadow;
  backdrop-filter: blur(10px); // Apply a subtle blur effect
  z-index: 1000; // Adjust z-index as needed
  transition: background-color 0.3s ease-in-out;

  &.scrolled {
    background-color: rgba(0, 0, 0, 0.65);
  }

  .main-header {
    // position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #222222;
    height: 100px;
    transition: all 0.3s;

    &.close {
      border-bottom: none;
      height: 80px;
      // border-bottom: .5px solid #ddd; 
      transition: all 0.3s;
    }

    .divider {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: #ddd;
      margin: 5px 0;
    }

    &.home-page {}

    &.barber-page {
      background-color: #0000009c;
      color: #FFFFFF;
      backdrop-filter: blur(10px); // Apply a subtle blur effect
      transition: all 0.3s;
      height: 80px;
    }

    & .nav-container {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;

      &.barber {
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0 20px;

        & .back-btn {}

        & .title {}

        & .logo {
          width: 50px;
          height: 50px;
          top: 0px;
          border-radius: 50%;
          background-color: #00000000;
          backdrop-filter: blur(10px); // Apply a subtle blur effect
          box-shadow: 0px 0px 10px 2px rgb(169, 163, 151);
          transition: all 0.3s;

          &.barber {
            margin: 0;
            box-shadow: none;
            width: 40px;
            height: 40px;
            top: 0px;
            transition: all 0.3s;

          }

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
          }
        }
      }

      & .about,
      .contact,
      .location,
      .reservation {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #FFFFFF;
        border-bottom: 1px solid transparent;
        width: 100px;
        cursor: pointer;

        @media (max-width: 768px) {
          font-size: 0.8rem;
        }

        &.reservation {
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          color: #FFFFFF;
          flex-direction: row;

          svg {

            @media (max-width: 768px) {
              display: none;
            }

            width: 24px;
            height: 24px;
            fill: #fff;
            cursor: pointer;
            margin-inline-start: 5px;
            // on hover, move the svg
            transition: all 0.3s;

            &:hover {
              transform: translateX(3px);
            }

          }
        }

        & :link,
        & :visited {
          color: #FFFFFF;
          text-decoration: none;
        }

        :hover {
          color: #FFFFFF;
          text-decoration: none;
          border-bottom-color: #FFFFFF; // Change border color on hover
        }

        :active {
          color: #FFFFFF;
          border-bottom-color: #FFFFFF; // Change border color on hover
        }
      }

    }


    & .logo {
      display: flex;
      align-items: center;
      color: $off-white;
      font-size: 2rem;
      font-weight: 600;
      letter-spacing: 0.1rem;
      cursor: pointer;
      font-family: "Rubik", sans-serif;
      position: relative;
      width: 15%;
      margin: 10px;
      background-color: #00000000;
      // backdrop-filter: blur(10px); // Apply a subtle blur effect
      top: 45px;
      padding: 25px;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      transition: all 0.3s;

      // mobile width 200px
      @media (max-width: 768px) {
        width: 185px;
        top: 25px;
        padding: 0;
      }

      &.close {
        width: 80px;
        margin: 0;
        padding: 10px;
        top: 0px;
        transition: all 0.3s;

      }

      img {
        position: relative;
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0px 0px 10px 2px rgb(169, 163, 151);
      }

      .logo-txt {
        margin-inline-start: 5px;
      }
    }
  }

}