.images-editor-container {
    $gap: 8px;

    display: flex;
    width: 100%;
    gap: $gap;
    height: 450px;
    border-radius: 16px;
    overflow: hidden;

    img {
        transition: all 100ms;
        cursor: pointer;

        &:hover {
            opacity: 0.9;
        }
    }

    .main {
        flex: 1;
        height: 100%;
        border-radius: 4px;
    }

    .rest {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        gap: $gap;

        >* {
            flex: 1 1 calc(50% - $gap);
            height: 50%;
            border-radius: 4px;
        }

    }
}