// Colors
$clr1: #ff385c;
$clr2: #dddddd;
$clr3: #fff;
$clr4: #717171;
$clr5: #222;
$clr6: #000;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

$layout-padding: 40px;
$mobile-layout-padding: 24px;
$stay-details-layout: 1127px;


// Main color
$main: #7A5230; // Unique brown color

// Accent colors
$acc1: #6C757D; // Charcoal gray
$acc2: #B08B5B; // Light brown
$acc3: #34495E; // Dark slate blue
$acc4: #D35400; // Pumpkin orange

// Neutral colors
$neut1: #2C3E50; // Dark slate gray
$neut2: #95A5A6; // Silver gray
$neut3: #ECF0F1; // Light gray
$neut4: #FFFFFF; // White

$dark-bg: #080b0d; // Dark background color (not pure black)
$off-white: #F2F2F2; // Slightly off-white
// Update background color variable
$bg: $dark-bg;
$txt: $off-white;

// Link colors
$link: $acc4;
$link-hover: darken($link, 10%);

// Button colors
$btn-bg: $main;
$btn-txt: $neut4;

// Border colors
$border: $neut2;

// Success and error colors
$success: #27AE60; // Emerald green
$error: #E74C3C; // Alizarin red

// Header Styles
$header-background: rgba(0, 0, 0, 0); // Dark color with 80% opacity
$header-text: $neut4; // White or a light neutral color for text
$header-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); // Subtle shadow for depth